:root {
	--color-main: #0277bd;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
	background: white;
}

p {
	padding-left: 1em;
}

main {
	padding: 20px;
}

.header {
	margin: 0 auto;
}

.header__top {
	text-align: right;
}

.header__menu {
	background-color: #0277bd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9em;
	color: white;
}

.header__menu a {
	text-decoration: none;
	color: inherit;
}

.header__menu li:hover {
	transform: scale(1.2);
} 

.nav {
	display: flex;
}

.nav__list {
	margin: 0;
	padding: 0;
	display: flex;
	flex: 1 0 auto;
	list-style-type: none;
	border-right: 1px solid darkgray;
}

.nav__item {
	flex: 1 0 auto;
	padding-right: 10px;
	text-align: center;
	transition-duration: 0.3s;	
}

.nav__item:last-child {
	padding-right: 0;
}

.nav__button {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	padding: 1em 2em;
	background-color: #ff5c8d;
	border: none;
	font-size: 0.8em;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
}

.button:hover {
	opacity: 0.8;
}

.header__logo {
	padding: 10px;
	font-size: 2em;
	color: #ff5c8d;
}

.header__nav {
	flex: 1;
}

.mobile-show {
	display: none;
}

.footer {
	padding: 10px;
	background-color: var(--color-main);
	text-align: center;
	color: white;
}

.amount {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1px;
	background: white;
	font-size: 14px;
	font-weight: 500;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	transform: translate(50%, 50%);
	color: var(--color-main);
	text-align: center;
	line-height: 25px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog__item {
	display: block;
	padding: 20px;
	flex: 0 0 auto;
}

.cat {
	position: relative;
	cursor: pointer;
}

.cat__photo {
	background-color: aquamarine;
	border-radius: 20px;
	transition: 500ms;
}

/* .cat__photo:hover {
	transform: scale(0.95);
	border-radius: 0;
} */

.cat__price {
	position: absolute;
	top: 45px;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px 10px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
	font-size: 0.8em;
}

.cat__price::before {
	content: 'For Sale: ';
	font-weight: bold;
}

.cat__price::after {
	content: '$';
}

.cat__info {
	display: flex;
	padding-left: 1em;
}

.cat__name {
	font-weight: bold;
	padding-right: 10px;
}

.cat__category {
}

.cat__category::before {
	content: "·";
	padding-right: 10px;
}

.cart {
	position: fixed;
	top: 4em;
	right: -100%;
	box-shadow: -5px 5px 10px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.3);
	transition: 300ms;
}

.cart__header {
	background-color: #ff5c8d;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}

.cart__title {
	display: inline-block;
	padding: 1em;	

}

.cart__close {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	background-color: #0277bd;
	user-select: none;
	transition: ease-in 300ms;
}

.cart__close:hover {
	cursor: pointer;
	background-color:white;
	color: #ff5c8d;
}

.cart__body {
	background-color: white;
	padding: 2em;
}

.cart_visible {
	top: 4em;
	right: 2em;
}