:root {
	--color-main: #0277bd;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
	background: white;
	font-size: 16px;
}

p {
	padding-left: 1em;
}

main {
	padding: 5em 0 2em 0;
}

.header {
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.header__logo {
	flex: 1 0 auto;
	padding: 10px;
	font-size: 2em;
	color: #ff5c8d;
}

.header__nav {
	flex: 1 0 auto;
}

.header__menu {
	background-color: #0277bd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9em;
	color: white;
}

.header__menu a {
	text-decoration: none;
	color: inherit;
}

.header__menu li:hover {
	transform: scale(1.2);
} 

.nav {
}

.nav__list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	display: flex;
	flex: 1 0 auto;
	list-style-type: none;
	border-right: 1px solid darkgray;
}

.nav__item {
	padding: 0 1em;
	text-align: center;
	transition-duration: 300ms;	
}

.nav__item a {
	display: block;
	width: 100%;
}

.nav__button {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	padding: 1em 2em;
	background-color: #ff5c8d;
	border: none;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.button_remove {
	padding: 1em;
}

.button:hover {
	opacity: 0.8;
}


.mobile-show {
	display: none;
}

.footer {
	position: fixed;
	bottom: 0;
	/* width: 100%; */
	padding: 0.5em 1.5em;
	border-top-right-radius: 1em;
	background-color: var(--color-main);
	font-size: 0.7em;
	color: white;
	opacity: 0.8;
}

.amount {
	position: absolute;
	bottom: -10px;
	right: -10px;
	padding: 1px;
	background: white;
	font-size: 14px;
	font-weight: 500;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	transform: translate(50%, 50%);
	color: var(--color-main);
	text-align: center;
	line-height: 25px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	transform: scale(0);
	transition-duration: 300ms;
}

.amount_visible {
	transform: scale(1);	
}

.catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.catalog__item {
	display: block;
	margin: 0 10px 30px 10px;
	flex: 0 0 auto;
}

.cat {
	position: relative;
	cursor: pointer;

}

.cat__photo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 200px;
	width: 200px;
	background-color: aquamarine;
	border-radius: 20px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.3);	
}

.cat__img {
	position: relative;
	width: 180px;
	height: 180px;
	line-height: 180px;
	min-height: 180px;
	min-width: 180px;
	object-fit: cover;
	font-size: 0.8em;
	color: darkgray;
	text-align: center;
	transition-duration: 300ms;
}

.cat__img:hover {
	transform: scale(0.9);
}

.cat__price {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 5px 10px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
	font-size: 0.8em;
}

.cat__price::before {
	content: 'For Sale: ';
	font-weight: bold;
}

.cat__price::after {
	content: '$';
}

.cat__info {
	display: flex;
	padding-left: 1em;
	padding-top: 0.4em;
}

.cat__name {
	font-weight: bold;
	padding-right: 10px;
}

.cat__category {
	font-style: italic;
}

.cat__category::before {
	content: "·";
	padding-right: 10px;
}

.cart {
	position: fixed;
	top: 4em;
	right: -100%;
	width: 250px;
	background-color: white;	
	box-shadow: -5px 5px 10px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.3);
	transition-duration: 300ms;
}

.cart__header {
	background-color: #ff5c8d;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}

.cart__title {
	display: inline-block;
	padding: 0.5em 1em;	

}

.cart__close {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	background-color: #0277bd;
	user-select: none;
	transition: ease-in 300ms;
}

.cart__close:hover {
	cursor: pointer;
	background-color:white;
	color: #ff5c8d;
}

.cart__body {
	padding: 2em 2em 0 2em;
	max-height: 40vh;	
	overflow: auto;	
}

.cart__item {
	display: flex;
	justify-content: space-between;
	padding-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px dotted gray;
}

.cart__item:first-child {
	padding-top: 0;
}

.cart__item:last-child {
	border: none;
}

.cart__name {
	padding-right: 5em;
}

.cart__footer {
	text-align: center;
}

.cart__button {
	margin-top: 2em;
	margin-bottom: 2em;
}

.cart_visible {
	top: 4em;
	right: 2em;
}

.cart_empty .cart__body {
	padding-bottom: 2em;
}

.cart_empty .cart__body:before {
	content: "No item in the cart :( Please add the item(s) to the catalog.";
}

.cart_empty .cart__footer {
	display: none;
}

.infinity-scroll {
	height: 0;
}